* {
    padding: 0%;
    margin: 0%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* navbar */
#navbar {
    background-color: black;
    display: flex;
    justify-content: space-around;
    border: 2px solid turquoise;
}

h1 {
    margin: 10px 0px;
    color: white;
}

#links {
    color: ghostwhite;
    display: flex;
    align-items: center;
}

#links ul {
    display: flex;
    list-style-type: none;
    justify-content: space-between;
    align-items: center;
}

li {
    margin-left: 50px;
}

ul li {
    opacity: 0.75;
}

ul li:hover {
    opacity: 1;
    cursor: pointer;
}


#signoutbar {
    margin-left: 140px;
    padding: 3px;
    color: white;
    background-color: turquoise;
    border: 2px solid darkgrey;
    text-align: center;
    width: 100px;
}



/* user card */

.container {
    display: flex;
    margin: auto;
    justify-content: space-between;
    margin-top: 20px;
    max-width: 850px;
}

.page {
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    height: 350px;
    width: 575px;
    background-color: white;
    border-style: solid;
    border-color: lightgray;
}

.blue {
    height: 75px;
    flex: 1;
    background-color: lightseagreen;
}

.name {
    width: 200px;
    margin-left: -3px;
    color: black;
}

.white {
    margin-left: 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    flex: 3;
}

.firstImg {
    width: 80px;
    margin-top: 40px;
    margin-left: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 50%;
}

h1 {
    width: 130px;
}

.secondImg {
    margin-right: 10px;
    width: 10px;
}

.thirdImg {
    margin-right: 10px;
    height: 15px;
    width: 15px;
}

.icon h3, .icon a {
    display: inline-block;

}

.icon {
    display: flex;
    align-items: center;
}


/* top left box */

#connection {
    height: 150px;
    width: 250px;
    border: solid lightgray;
}

.countbar {
    display: flex;
    justify-content: space-evenly;
    width: 250px;
    background-color: gray;
}

.small {
    margin-right: 8px;
    width: 30px;
    border-radius: 50%;
}

.count {
    margin: 7px;
    padding: 2px;
    text-align: center;
    height: 20px;
    width: 20px;
    background-color: lightgray;
    border-radius: 50%;
}

.topbox {
    display: flex;
    align-items: center;
    font-size: 13px;
    color: white;
}


.countbarbottem {
    display: block;
}

table {
    width: 100%;
}


tr {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
}

td {
    margin: 5px;
}

td img {
    margin-left: 4px;
}


/* Education */

.edu {
    height: 150px;
    width: 575px;
    border: solid lightgray;
}

.countbar1 {
padding-left: 20px;
width: 555px;
margin-bottom: 20px;
background-color: gray;
}

.countbar1 p {
    padding-top: 10px;
    color: white;
    height: 30px;
}

.pmove {
    margin-left: 20px;
    margin-bottom: 7px;
}

.pmove1 {
    opacity: .5;
    margin-left: 20px;
    margin-bottom: 8px;
}


/* Your Connections */

.connection2 {
    position: relative;
    left: 591px;
    bottom: 320px;
    height: 295px;
    width: 250px;
    border: solid lightgray;
}

.count2 {
    margin: 7px;
    padding: 2px;
    text-align: center;
    height: 20px;
    width: 50px;
    background-color: lightgray;
    border-radius: 50%;
}

.undercountbar {
    display: flex;
    flex-direction: column;
}

.view {
    height: 24px;
    padding-top: 2px;
    position: relative;
    right: 3px;
    width: 250px;
    border: solid lightgray;
}

.view a {
    margin-left: 10px;
}

