* {
    margin: 0px;
    padding: 0px;
    vertical-align: top;
}


.container{
    width: 885px;
    background-color: silver;
    margin: 0px auto;
    padding: 1px;
}
.top-nav {
    height: 150px;
    background-color: green;
    margin: 10px;
    width: 865px;
}
.side-nav {
    display: inline-flex;
    height: 300px;
    width: 200px;
    background-color: blue;
    margin-left: 10px;
}
.main {
    display: inline-block;
    height: 370px;
    width: 650px;
    background-color: red;
    margin-left: 10px;
    margin-bottom: 10px;
}
.sub-content {
    display: inline-block;
    margin-top: 10px;
    margin-left: 8px;
    height: 180px;
    width: 193px;
    background-color: yellow;
}
#advertisement {
    display: inline-block;
    height: 120px;
    width: 600px;
    background-color: purple;
    margin-left: 10px;
    margin-top: 10px;
}
.row {
    /* TODO - what should go here? */
}

