* { 
    margin: 0px;
    padding: 0px;;
}


.page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    height: 400px;
    width: 800px;
    background-color: white;
    border-style: solid;
    border-color: lightgray;
}

.blue {
    height: 75px;
    flex: 1;
    background-color: lightseagreen;
}
.white {
    margin-left: 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    flex: 3;
}

.firstImg {
    width: 80px;
    margin-top: 60px;
    margin-left: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

h1 {
    width: 130px;
}

.secondImg {
    margin-right: 10px;
    width: 10px;
}

.thirdImg {
    margin-right: 10px;
    height: 15px;
    width: 15px;
}

.icon h3, .icon a {
    display: inline-block;

}

.icon {
    display: flex;
    align-items: center;
}